{% extends "base.html" %}
{% block content %}
  <!--<input type="file" id="file" name="img_file" class="">-->
        <form method="post" action="/index2" enctype="multipart/form-data">
            <input type="file" id="file" name="img_file" class="" size='10'>
            <input type="submit" value="送信" class="btn">
        </form>
        <!--{% if img_url %}
          <p><img src="{{ img_url }}"></p>
            {% endif %} -->
        <p>progressing...{{ name }}</p>

    <script>
    var input = document.getElementById('file');
        input.addEventListener('change', function (e) {
    var file = e.srcElement.files[0];

    var fr = new FileReader();
    fr.addEventListener('load', function() {
    var url = fr.result;

    // Imageオブジェクトをつくり
    var img = new Image();
    // srcにurlを指定する
    img.src = url;
    // そのままだとでかすぎるのでサイズ調整して
    img.height = 200;
    // bodyに追加する
    document.body.appendChild(img);
  });
  fr.readAsDataURL(file);
  
});
    
    
    
    </script>

{% endblock %}