{% extends "base.html" %}
{% block content %}
  <!--<input type="file" id="file" name="img_file" class="">-->
        <form method="post" action="/index2" enctype="multipart/form-data">
            <input type="file" id="file" class="">
            <input type="submit" value="送信" class="btn">
        </form>
        <!--{% if img_url %}
          <p><img src="{{ img_url }}"></p>
            {% endif %} -->
        <p>progressing...{{ name }}</p>
        <button class="btn btn-primary" id="upload">投稿</button>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>   
    <script>
    var input = document.getElementById('file');
        input.addEventListener('change', function (e) {
          var file = e.srcElement.files[0];

          var fr = new FileReader();
          fr.addEventListener('load', function() {
            var url = fr.result;

            // Imageオブジェクトをつくり
            var img = new Image();
            // srcにurlを指定する
            img.src = url;
            // そのままだとでかすぎるのでサイズ調整して
            img.height = 200;
            // bodyに追加する
            document.body.appendChild(img);
          });
          fr.readAsDataURL(file);
          
    });
    
     // アップロード開始ボタンがクリックされたら
  $('#upload').click(function(){

// ファイルが指定されていなければ何も起こらない
if(!file || !blob) {
  return;
}

        var name, fd = new FormData();
        fd.append('img', blob); // ファイルを添付する

        $.ajax({
          url: "https://root67.herokuapp.com/", // 送信先
          type: 'POST',
          dataType: 'json',
          data: fd,
          processData: false,
          contentType: false
        })
        .done(function( data, textStatus, jqXHR ) {
          // 送信成功
        })
        .fail(function( jqXHR, textStatus, errorThrown ) {
          // 送信失敗
        });  




    
    </script>

{% endblock %}